# Backend Environment Variables
PORT=5001

# MongoDB Connection String
MONGO_URI=mongodb://localhost:27017/virtual-herbal-garden
MONGODB_URI=mongodb://localhost:27017/virtual-herbal-garden

# JWT Secret Key
JWT_SECRET=your_jwt_secret_key_here
